<div class="homepage">
  <div class="hero-section">
    <div class="overlay"></div>
    <div class="content text-white d-flex flex-column justify-content-center align-items-center align-items-md-start px-3 px-md-0 ms-md-5 ps-md-5">
      <h1 class="h1 mb-4 text-center text-md-start">Power your passion for sports</h1>
      <p class="h4 pt-2 pb-4 text-center text-md-start">Track your activity and record your progress</p>
      <div class="action-call mt-4 d-flex flex-column flex-md-row justify-content-center align-items-center mb-md-5 pb-md-5">
        <%= link_to "Enroll", new_user_registration_path, class: "btn btn-round btn-primary btn-200 text-white py-2 px-3 my-3 me-md-3" %> 
        <%= link_to "Learn more", root_path(:anchor => "features"), class: "btn btn-round btn-dark btn-200 text-white py-2 px-3 my-3 ms-md-3", data: { turbolinks: false }  %>
      </div>
    </div>
  </div>

  <div class="activity-section d-flex flex-column-reverse flex-md-row p-md-0">
    <div class="activity-section-left d-flex justify-content-center align-items-center col-12 col-md-6 my-5 m-md-0">
      <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "activities/running_blue.png", class: "img-card p-5" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "activities/skiing_blue.png", class: "img-card p-5" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "activities/fencing_blue.png", class: "img-card p-5" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "activities/boxing_blue.png", class: "img-card p-5" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "activities/golfing_blue.png", class: "img-card p-5" %>
          </div>
        </div>
      </div>
    </div>
    <div class="activity-section-right d-flex flex-column justify-content-center align-items-center align-items-md-end col-12 col-md-6 text-center text-md-end">
      <h2 class="h2 text-center text-md-end mb-4">All your sports in one app</h3>
      <p class="h4 mt-2 pb-4">A large panel of activities available to take your trainings to the next level</p>
      <%= link_to "Find out", activities_path, class: "btn btn-round btn-outline-primary btn-200 py-2 px-3 mt-4" %> 
    </div>
  </div>



  <div class="features-section bg-primary d-flex flex-column flex-lg-row p-lg-0" id="features">
    <div class="features-left d-flex flex-column flex-md-row pt-2 p-md-0 col-12 col-lg-6">
      
      <div class="col-12 col-md-6 px-3 py-2">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 px-3 py-2 ps-md-0">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>


    </div>

    <div class="features-left d-flex flex-column flex-md-row pb-2 p-md-0 col-12 col-lg-6">

      <div class="col-12 col-md-6 px-3 ps-lg-0 py-2">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 px-3 ps-md-0 py-2">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>




    </div>
  </div>


</div>

