<div class="last-record box box-shadow mx-0 my-2 ms-lg-3 p-3">
  <h3 class="text-primary mb-3">My last record</h3>
  <% if lastRecord() %>
    <div>
      <p class="mb-1"><span>Date: </span><%= formattedDate(lastRecord().date) %></p>
      <p class="mb-1"><span>Duration: </span><%= formattedDuration(lastRecord().duration) %></p>
      <p class="mb-1"><span>Activity: </span><%= lastRecord().activity.name %></p>
      <%= link_to "See all my records", user_records_path, class: "btn btn-secondary btn-round mt-3" %>
    </div>
  <% else %>
    <div class="d-flex flex-column justify-content-between">
      <p class=" m-0 mb-lg-4 mt-lg-1">You do not have any record yet</p></br>
      <%= link_to "Add a record", new_user_record_path, class: "btn btn-secondary btn-round btn-200 m-0 mt-lg-4" %>
    </div>
  <% end %>
</div>