<div class="edit-profile-section">
  <div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="box py-3">
      <h2 class="text-center">Update my profile</h2>
      <div class="mx-3 mb-4 pt-4">
        <%= form_with(model: @user, local: true) do |f| %>
          <div class="field">
            <%= f.label :first_name %><br />
            <div class="input">
              <%= f.text_field :first_name, autofocus: true, autocomplete: true, placeholder: "First name" %>
              <span class="icon-lock"><i class="fa fa-user text-primary"></i></span>
            </div>
          </div>
          <div class="field">
            <%= f.label :last_name %><br />
            <div class="input">
              <%= f.text_field :last_name, autofocus: true, autocomplete: true, placeholder: "Last name" %>
              <span class="icon-lock"><i class="fa fa-user text-primary"></i></span>
            </div>
          </div>
          <div class="field">
            <%= f.label :date_of_birth %><br />
            <div class="input">
              <%= f.text_field :date_of_birth, autofocus: true, autocomplete: true, placeholder: "Date of birth" %>
              <span class="icon-calendar"><i class="fa fa-calendar text-primary"></i></span>
            </div>
          </div>
          <div class="field">
            <%= f.label :sex %><br />
            <div class="input">
             <%= f.select :gender, options_for_select(['unknown', 'male', 'female', 'other'], @user.gender) %>
            <span class="icon-gender"><i class="fa fa-venus-mars text-primary"></i></span>
            </div>
          </div>
          <div class="field">
            <%= f.label :avatar %><br />
            <label class="btn-avatar btn btn-outline-primary btn-round text-center text-white">
              <%= f.file_field :avatar, class: "add-avatar" %>
              <i class="fa fa-plus m-0 p-0"></i>
            </label>
          </div>
          <div class="actions mt-4 d-flex flex-column flex-md-row justify-content-center align-items-center">
            <%= f.submit "Update profile", class: "btn btn-round btn-success btn-150 text-white py-2 px-3 my-2 me-md-2" %> 
            <%= link_to "Back", user_path, class: "btn btn-round btn-warning btn-150 text-white py-2 px-3 my-2 ms-md-2" %> 
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
  
  

