<div class="records-index">
  <p id="notice"><%= notice %></p>

  <div class="px-lg-5 d-flex flex-column align-items-center">
    <h1 class="text-center">My records</h1>

    <div class="mx-5 px-5">
      <button class="btn btn-outline-primary">
        <%= link_to 'Add new record', new_user_record_path, class: "btn-link" %>
      </button>
    </div>

    <table class="styled-table">
      <thead>
          <tr>
            <th>Activity</th>
            <th>Date</th>
            <th>Duration (mim)</th>
            <th class="column-empty"></th>
            <th class="column-empty"></th>
            <th class="column-empty"></th>
          </tr>
      </thead>
      <tbody>
        <% @records.each do |record| %>
          <tr>
            <td><%= record.activity.name %></td>
            <td><%= record.date.strftime("%d / %m / %Y") %></td>
            <td><%= record.duration %></td>
            <td class="column-empty">
              <%= link_to user_record_path(record.id,) do %>
                <i class="fa fa-solid fa-eye"></i>
              <% end %>
            </td>
            <td class="column-empty">
              <%= link_to edit_user_record_path(record.id,) do %>
                <i class="fa fa-edit"></i>
              <% end %>
            </td>
            <td class="column-empty">
              <%= link_to user_record_path(record.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-solid fa-trash"></i>
              <% end %>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

</div>

