  <div class="activity-index">
    <div class="container">
      <div class="row">
    <h1 class="text-center mb-4">Activities</h1>
        <div class="d-flex flex-wrap">
          <% @activities.each do |activity| %>
            <div class="activity-card col-6 col-md-4 col-lg-3 col-xl-2 px-2 py-2">
              <div class="card card_blue border-radius-5">
                <%= link_to new_user_record_path(activity_id: activity.id), class: "text-decoration-none" do %>
                  <% if activity.picture.attached? %>
                    <div class="card border-0 p-3 p-lg-4 ">
                      <%= image_tag activity.picture, alt: "#{activity.name} image", class: "stretched-link" %>
                    </div>
                  <% end %>
                  <div class="activity-name d-flex justify-content-center align-items-center text-center text-primary py-3 m-0 border-radius-bottom-5">
                    <h3 class=""><%= activity.name %></h3>
                  </div>  
                <% end %>
              </div>
              <div class="card card_white d-none border-0">
                <%= link_to new_user_record_path(activity_id: activity.id), class: "text-decoration-none" do %>
                  <% if activity.hoovered_picture.attached? %>
                    <div class="card border-0 p-3 p-lg-4 bg-primary border-radius-top-5">
                      <%= image_tag activity.hoovered_picture, alt: "#{activity.name} image" %>
                    </div>
                  <% end %>
                  <div class="activity-name d-flex justify-content-center align-items-center text-center text-white bg-primary py-3 m-0 border-radius-bottom-5">
                    <h3 class=""><%= activity.name %></h3>
                  </div>                    
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


