<footer class="bg-light">
  <div class="container">
    <div class="row py-3">
        <div class="col-12 col-lg-2 mb-2 text-center">
          <%= image_tag("logo.svg", style:"max-height: 120px",alt: "move and groove logo") %>
        </div>
        <div class="col-12 col-lg-4 mb-1 text-center">
          <h4 class="mb-2">Move and Groove</h4>
          <p>10 baker street<br/>W1H 6AZ London<br/>United Kingdom</p>
        </div>
        <div class="col-12 col-lg-3 mb-1 text-center">
          <h4 class="mb-2">Partners</h4>
          <ul class="list-unstyled">
            <li><%= link_to "Decathlon", "https://www.decathlon.co.uk/", class: "text-decoration-none", :target => "_blank" %></li>
            <li><%= link_to "Under Armour", "https://www.underarmour.co.uk/", class: "text-decoration-none", :target => "_blank" %></li>
            <li><%= link_to "Spartan", "https://www.spartan.com/", class: "text-decoration-none", :target => "_blank" %></li>
          </ul>
        </div>
        <div class="col-12 col-lg-3 mb-1 text-center">
          <h4 class="mb-2">Follow Us</h4>
            <%= link_to "", "https://www.facebook.com/", class: "fa fa-twitter-square fa-3x text-decoration-none mx-2", :target => "_blank" %>
            <%= link_to "", "https://www.facebook.com/", class: "fa fa-facebook-square fa-3x text-decoration-none mx-2", :target => "_blank" %>
            <%= link_to "", "https://www.facebook.com/", class: "fa fa-instagram fa-3x text-decoration-none mx-2", :target => "_blank" %>
        </div>
    </div>
  </div>
</footer>  