<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light px-0 px-lg-4">
  <div class="container-fluid">
    <div>
      <% if !user_signed_in? %>
        <%= link_to root_path, class: "text-decoration-none" do %>
          <span class="navbar-brand d-flex align-items-center">
            <%= image_tag("logo.svg", style: "max-height: 60px", alt: "move and groove logo", class: "pe-2") %>
            <h2 class="h3">Move & Groove</h2>
          </span>
        <% end %>
      <% else %>
        <%= link_to activities_path, class: "text-decoration-none" do %>
          <span class="navbar-brand d-flex align-items-center">
            <%= image_tag("logo.svg", style: "max-height: 60px", alt: "move and groove logo", class: "pe-2") %>
            <h2 class="h3">Move & Groove</h2>
          </span>
        <% end %>
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-end" id="navbarSupportedContent">
      <% if !user_signed_in? %>
        <div class="d-flex flex-column flex-lg-row"> 
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-round btn-100 me-0 me-lg-2 my-1" %>
          <%= link_to "Login", new_user_session_path, class: "btn btn-outline-primary btn-round btn-100 ms-0 ms-lg-2 my-1" %>
        </div>
      <% else %>
        <div class="dropdown">
          <p class="dropdown-toggle my-1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user-circle fa-2x"></i>  
          </p>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li>
              <%= link_to "My profile", user_path, class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to "My records", user_records_path, class: "dropdown-item" %>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <%= link_to destroy_user_session_path, class: "dropdown-item", method: :delete do %>
                <i class="fa fa-power-off pe-1"></i>
                Logout
              <% end %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</nav>